[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/nuo"]
	path = themes/nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/hugo-Paper-Mod"]
	path = themes/hugo-Paper-Mod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
